@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Noto+Sans&family=Open+Sans:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

/*Верхнее меню */
.top-menu {
    background: #fff;
    height: 70px;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    
}

.top-menu ul {
    text-align: center;
    margin-top: 31px;
}


.top-menu ul li {
    display: inline-block;
    height: 40px;
}

.line-blog-nav {
    height: 3px;
    width: 55px;
    background: #DD4053;
    position: absolute;
    margin-top: 18px;
    margin-left: 50px;
}

.top-menu ul li a {
    font-family: 'Roboto', sans-serif;
    color: #616161;
    font-size: 15px;
    margin-left: 60px;
}

.top-menu ul ul {
    text-align: center;
    width: 14rem;
    margin-left: 54px;
    margin-top: 16.5px;
    border-top: 4px solid #DD4053;
    position: absolute;
    background: #FFFFFF;
    display: none;
    z-index: 2;
}

.top-menu ul li:hover > ul {
    display: block;
}

.top-menu ul ul li {
    display: block;
    height: 32px;
    border: 0.5px solid #D0D0D0;
}

.top-menu ul ul li a {
    color: #616161;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0 auto;
    font-size: 11px;
    top: 5px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-menu ul ul li:hover a{
    color: #DD4053;
    transition: 0.4s;
}

.ion {
    margin-bottom: 2px;
    margin-left: 7px;
    height: 6px;
    width: 7px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

ion-icon {
    position: absolute;
    color: black;
    font-size: 20px;
    margin-top: -1px;
    margin-left: -1.3rem;
  }

/* Информационное верхнее меню */

.top-menu-info-container {
    width: 1420px;
    margin: 0 auto;
    height: 100%;
}

.top-info {
    display: inline-grid;
    width: 100%;
    height: 100px;
    margin-left: -1.6rem;
}

.top-logo {
    position: static;
    width: 180px;
    height: 72px;
    margin-top: 1rem;
    margin-left: 4rem;
} 

/*Стенки*/
.wall {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 15.8rem;
    width: 0.5px;
    height: 50px;
    border: 0.5px solid #E2E2E2;
}

.wall1 {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 21.6rem;
    width: 0.5px;
    height: 50px;
    border: 0.5px solid #E2E2E2;
}

.wall2 {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 30rem;
    width: 0.5px;
    height: 50px;
    border: 0.5px solid #E2E2E2;
}

.wall3 {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 38.4rem;
    width: 0.5px;
    height: 50px;
    border: 0.5px solid #E2E2E2;
}

.wall4 {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 53.4rem;
    width: 0.5px;
    height: 50px;
    border: 0.5px solid #E2E2E2;
}

/*Курсы*/
.curs {
    position: absolute;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #393939;
    margin-left: 23.7rem;
    margin-top: 1.7rem;
}

/*Язык*/

.lau {
    position: absolute;
    margin-top: 1.19rem;
    margin-left: 17.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    text-align: center;
}

.ru {
    color: #FFFFFF;
    background: #4AD295;
    padding: 0.5px 7px;
    border-radius: 10%;
}

/*Иконки*/

.social {
    margin-top: 2.5px;
    position: absolute;
    margin-left: 30.5rem;
}

/*Настройка иконок*/
.soc-img {
    margin-top: 2rem;
    margin-left: 15px;
}

/*Иконка ютуба*/
.yt {
    margin-bottom: 3px;
    width: 18.75px;
    height: 13.13px;
}

.in {
    width: 20px;
    height: 20px;
}

.fb {
    width: 10px;
    height: 20px;
    margin-bottom: 1px;
}

/*Контактные номера*/
.number {
    position: absolute;
    margin-top: 1.9rem;
    margin-left: 40.1rem;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.phone {
    position: absolute;
    margin-left: 15px;
    margin-top: -1.55rem;
}

/*Таблички*/
.mais {
    position: absolute;
    background-color: #EFF3F6;
    Width: 205px;
    Height: 55px;
    border-radius: 2px;
    margin-top: 1.3rem;
    margin-left: 55.3rem;
}
.mais-t {
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 18px;
    margin-left: 18px;
}

.mais-ri {
    position: absolute;
    background-color: #DD4053;
    border-radius: 2px;
    margin-left: 11.6rem;
    Width: 55px;
    Height: 55px;

}

.tabg {
    margin-top: 15.6px;
    margin-left: 15.5px;
    height: 24px;
    width: 24px;
}

.tour {
    position: absolute;
    background-color: #EFF3F6;
    Width: 170px;
    Height: 55px;
    border-radius: 2px;
    margin-top: 1.3rem;
    margin-left: 72.4rem;
}

.tour-t {
    position: absolute;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 17px;
    margin-left: 24px;
}

.tour-ri {
    position: absolute;
    background-color: #4AD295;
    border-radius: 2px;
    margin-left: 10.5rem;
    Width: 55px;
    Height: 55px;

}

.search {
    margin-top: 12px;
    margin-left: 13.2px;
    height: 29px;
    width: 30px;
}

.lev {
    height: 533px;
    width: 1440px;
    background-color: #FFFFFF;
}

.main_cont{
    display: flex;
    padding: 30px 115px  0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    color: #969696;
    transition: 0.4s;
}

.top-hotel {
    position: absolute;
    top: 170px;
    z-index: 1;
}

.top-hotel-img {
    width: 1440px;
}


.border-ot300 {
    position: absolute;
    width: 259px;
    height: 45px;
    border: 1px solid #FFFFFF;
    left: 199px;
    top: 104px;
}

.text-ot300 {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    width: 250px;
    height: 32px;
    top: 10%;
    left: 6%;
}

.text-ecoh {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 900px;
    height: 102px;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    text-align: left;
    margin-left: 13.5%;
    margin-top: -325px;
}

.list-lev2{
    display: flex;
    position: absolute;
    margin-left: 190px;
    margin-top: 150px;
}

.transp-circl-lev2 {
    height: 7px;
    width: 7px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    margin-left: 10px;
    transition: 0.3s;
}

.transp-circl-lev2:hover {
    background-color: #FFFFFF;
    transition: 0.3s;
}

.filled-circl-lev2 {
    background-color: #FFFFFF;
}

/*Кнопка "Подробнее"*/
.podr {
    position: absolute;
    margin-left: 12.4rem;
    margin-top: 2rem;
    width: 270px;
    height: 60px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    cursor: pointer;
}

.podr:hover {
    background: rgba(255, 255, 255, 0.5);
}

.podr-t {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    top: 30%;
    left: 30%;
}

.main_cont:hover {
    color: #232323;
    transition: 0.4s;
}

.mc-d {
    margin-left: 10px;
}

.m-cont {
    color: #232323;
    margin-left: 10px;
}

.glav-mc {
    color: #969696;
}

.glav-mc:hover {
    color: #232323;
}

.avia-mc {
    color: #969696;
    margin-left: 10px;
}

.avia-mc:hover {
    color: #232323;
}


.lev2 {
    width: 1440px;
    height: 600px;
    background-color: #EFF3F6;
}

.lev2-geomap {
    position: absolute;
    margin-top: 30px;
    margin-left: 1000px;
    display: block;
}

.lev2-geomap-img {
    height: 340px;
    width: 330px;
}

.l2-g-text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    font-weight: 500;
    color: #969696;
    width: 300px;
    
}

.lev2-head-text {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    margin-left: 198px;
    font-weight: 400;
}

.lev2-text {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 100px;
    margin-left: 198px;
    font-weight: 400;

}

.lev2-text-two {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 220px;
    margin-left: 198px;
    font-weight: 400;
}

.lev2-podhead-text2 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    margin-top: 310px;
    margin-left: 198px;
    font-weight: 400;
}

.lev2-pod-text2 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 360px;
    margin-left: 198px;
    font-weight: 400;

}

.lev2-podhead-text3 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    margin-top: 435px;
    margin-left: 198px;
    font-weight: 400;
}

.lev2-pod-text3 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 485px;
    margin-left: 198px;
    font-weight: 400;
}

.lev3 {
    height: 800px;
    width: 1440px;
    background-color: #fff;
}

.lev3-bg-img {
    height: 800px;
    width: 1440px;
}

.lev3-head-text {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    margin-left: 198px;
    font-weight: 400;
}

.lev3-text {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 100px;
    margin-left: 198px;
    font-weight: 400;
}

.lev3-img-ist-tramv {
    position: absolute;
    margin-top: 30px;
    height: 540px;
    width: 350px;
    margin-left: 980px;

}

.lev4 {
    width: 1440px;
    height: 1070px;
    background-color: #EFF3F6;
}

.lev4-head-text {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    margin-left: 198px;
    font-weight: 400;

}

.lev4-text {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 100px;
    margin-left: 198px;
    font-weight: 400;
}

.lev4-head-text2 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 30px;
    text-align: left;
    margin-top: 270px;
    margin-left: 198px;
    font-weight: 400;

}

.lev4-text2 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 320px;
    margin-left: 198px;
    font-weight: 400;
}

.lev4-head-text3 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 30px;
    text-align: left;
    margin-top: 570px;
    margin-left: 198px;
    font-weight: 400;

}

.lev4-text3 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 620px;
    margin-left: 198px;
    font-weight: 400;
}

.lev4-head-text4 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 30px;
    text-align: left;
    margin-top: 730px;
    margin-left: 198px;
    font-weight: 400;

}

.lev4-text4 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 780px;
    margin-left: 198px;
    font-weight: 400;
}

.lev5 {
    width: 1440px;
    height: 3200px;
    background-color: #fff;
}

.lev5-head-text {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
    margin-left: 198px;
    font-weight: 400;
}

.lev5-mc1-img {
    height: 400px;
    width: 600px;
    border: 10px solid #E2E2E2;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    transition: 1s;
}

.lev5-marshrut-card1 {
    position: absolute;
    margin-top: 90px;
    margin-left: 198px;
    display: flex;
}

.lev5-mc1-img:hover {
    height: 470px;
    width: 700px;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
    margin-left: -40px;
    transition: 0.5s;
}

.lev5-mc1-text-block {
    display: block;
    margin-left: 50px;
}

.l5-mc1-head-text {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    font-weight: 500;
    width: 500px;
}

.l5-mc1-text {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    font-weight: 400;
    width: 550px;
    margin-top: 100px;
}

.l5-mc1-text2 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    font-weight: 400;
    width: 550px;
    margin-top: 240px;
}

.lev5-marshrut-card2 {
    position: absolute;
    margin-top: 590px;
    margin-left: 198px;
    display: flex;
}

.lev5-marshrut-card3 {
    position: absolute;
    margin-top: 1100px;
    margin-left: 198px;
    display: flex;
}

.lev5-marshrut-card4 {
    position: absolute;
    margin-top: 1610px;
    margin-left: 198px;
    display: flex;
}

.lev5-marshrut-card5 {
    position: absolute;
    margin-top: 2120px;
    margin-left: 198px;
    display: flex;
}

.lev5-marshrut-card6 {
    position: absolute;
    margin-top: 2630px;
    margin-left: 198px;
    display: flex;
}

.lower_menu {
    width: 1440px;
    height: 260px;
    background-color: rgb(248, 248, 248);
}
.lower_inform_block {
    display: flex;
    justify-content: space-between;
    padding: 50px 70px;
    margin: 0px auto;
}
.logo_end {
    width: 155px;
    height: 85px;
    color: rgb(62, 62, 62);
    margin-left: 20px;
}
.other_inform {
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.hotel {
    width: 115px;
    height: 80px;
    text-align: left;
}
.hotel > a {
    font-size: 15px;
    color: #3E3E3E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 19.46px;
}
.about {
    width: 75px;
    height: 80px;
    text-align: left;
}
.about > a {
    font-size: 15px;
    color: #3E3E3E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 19.46px;
}
.schedule {
    width: 145px;
    height: 80px;
    display: block;
}

.rezim {
    color: #3E3E3E;
    opacity: 0.5;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.schedule-text {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #3E3E3E;
    margin-top: 10px;
    position: absolute;
}

.schedule > a {
    color: rgb(62, 62, 62);
}
.grey >a{
    margin: 5px;
    color: rgb(211, 211, 211);
}
.numbers {
    width: 170px;
    height: 80px;
    text-align: left;
}
.numbers > a {
    color: rgb(62, 62, 62);
}

.phone-num {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #3E3E3E;
}

.ot {
    margin-top: 5px;
}

.contact {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #3E3E3E;
    opacity: 0.5;
    margin-top: 25px;
    position: absolute;
    
}

.line_end {
    width: 1280px;
    height: 1px;
    background-color: rgba(29, 29, 29, 0.2);
    margin: 0px auto;
}
.networks {
    width: 1200px;
    color: rgba(62, 62, 62, 0.5);
    display: flex;
    justify-content: space-between;
    margin: 15px auto 0px;
}

.networks-p-text {
    margin-left: -20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(62, 62, 62, 0.5);
}

.text_one{
    color: #232323;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    padding: 0 20px  0 ;
}
.text_two{
    font-size: 12px;
    line-height: 12px;
    color: #848484;
    padding: 20px;
}
.text_three{
    font-size: 16px;
    line-height: 26px;
    color:  #323232;
    padding: 0 20px 0;
}
.text_four{
    color:  #848484;
    font-size: 12px;
    line-height: 12px;
    margin: 40px 20px 20px;
}
.text_five{
    font-size: 16px;
    line-height: 26px;
    color:  #323232;
    margin: 0 20px 5px;
   
}

.text_six{
    margin: 60px 20px 20px;
    color: #848484;
    font-size: 12px;
    line-height: 12px;
}
.text_seven{
    color: #323232;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 20px;
}
.grey >a{
    color: rgb(182, 182, 182);
}

.logo-end-img {
    width: 200px;
    height: 80px;
}

.ic {
    margin-left: 15px;
}

.i-yt {
    margin-bottom: 2.5px;
}